.notification-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; 
  }
  
  .notification-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .notification-box h2 {
    margin-bottom: 10px;
  }
  
  .notification-box p {
    margin-bottom: 20px;
  }
  
  .notification-button {
    background-color: #fd8080; 
    color: white;
    border: none;
    padding: 8px 80px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .notification-button:hover {
    background-color: #f74343;
  }
  